.my-task {
    font-size: 1.25rem;
}

.my-task button {
    width: 35px;
    margin: 3px;
}

.my-task-label {
    margin-left: 1.25rem;
    line-height: 35px;
    cursor: pointer;
    user-select: none;
}

.my-task.done .my-task-label {
    text-decoration: line-through;
}

.my-task.important .my-task-label {
    font-weight: bold;
    color: steelblue;
}